@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Manrope', sans-serif;
    background-color: #F7F5F2;
}

button{
    padding: 8px;
    border-radius: 8px;
    background-color: #E45826;
}
/* NAVIGATION BAR */
.navbar{
    padding-bottom: 20px;
}

/* FIRST IMAGE CONTAINER */
.image-1{
    max-width: 100%;
    max-height: 100%;
}

.main-article-Avartar{
    height: 70px;
    width: 70px;
}

/* USER AVATARS */
.user{
    display: flex;
}
.user-about{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    justify-items: center;
    margin-top: 10px;
}

h5{
    font-size: 15px;
}

/* BLOG SECTION */

.grid-image{
    max-width: 100%;
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
    gap: 50px;
    grid-template-rows: 1fr;
    padding-top: 50px;
}

/* FOOTER */
.footer-section{
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
}

.footer-section > p{
    color: gray;
}