.navbar{
    padding-bottom: 70px;
}

.image-1{
    width: 500px;
    height: 300px;
}

.main-article-Avartar{
    height: 70px;
    width: 70px;
}

.user{
    display: flex;
}
.user-about{
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    justify-items: center;
    margin-top: 10px;
}

h5{
    font-size: 15px;
}

.blog-image{
    height: 150px;
    width: 300px;
}

.blog{
    padding-top: 80px;
}